h1, h2, h3, h4, h5, h6, p, ol li, ul li, code {
    color: black; /* Default light mode color */
}

.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6, 
.dark p, 
.dark ol li, 
.dark ul li,
.dark code {
    color: #c1c4cb; /* Light gray text in dark mode */
}

h1 {
    font-size: 32px;
    font-weight: 700; /* Bold */
    margin: 21px 0;
}

h2 {
    font-size: 28px;
    font-weight: 600; /* Semi-bold */
    margin: 23px 0;
}

h3 {
    font-size: 24px;
    font-weight: 700; /* Bold */
    margin: 24px 0;
}

h4 {
    font-size: 20px;
    font-weight: 700; /* Bold */
    margin: 26px 0;
}

h5 {
    font-size: 16px;
    font-weight: 700; /* Normal */
    margin: 26px 0;
}

h6 {
    font-size: 14px;
    font-weight: 700; /* Normal */
    margin: 32px 0;
    color: #E46643;
}

ol, ul {
    padding: 16px 0px;
    padding: 0px 0px 0px 40px;
}

pre {
    background-color: #F5F5F5;
    padding: 18px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 15px 0px;
}

.dark pre {
    background-color: #2B2D31 ;
}

code {
    font-weight: 700;

}

blockquote {
    background-color: #F5F5F5;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    border-left: 4px solid #E46643; /* Width, style, and color */
    margin: 15px 0px;
}

.dark blockquote {
    background-color: #2B2D31 ;
}

hr {
    margin-top: 32px;
    margin-bottom: 25px;
}
